In [1]:
import pandas as pd
df = pd.read_csv("../data/laptop_pricing_dataset_base.csv")

display(df.head())
df.info()

   Acer  4  IPS Panel  2  1  5   35.56  1.6  8  256 1.6.1   978
0  Dell  3    Full HD  1  1  3  39.624  2.0  4  256   2.2   634
1  Dell  3    Full HD  1  1  7  39.624  2.7  8  256   2.2   946
2  Dell  4  IPS Panel  2  1  5  33.782  1.6  8  128  1.22  1244
3    HP  4    Full HD  2  1  7  39.624  1.8  8  256  1.91   837
4  Dell  3    Full HD  1  1  5  39.624  1.6  8  256   2.2  1016

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Acer       237 non-null    object
 1   4          237 non-null    int64
 2   IPS Panel  237 non-null    object
 3   2          237 non-null    int64
 4   1          237 non-null    int64
 5   5          237 non-null    int64
 6   35.56      237 non-null    object
 7   1.6        237 non-null    float64
 8   8          237 non-null    int64
 9   256        237 non-null    int64
 10  1.6.1      237 non-null    object
 11  978        237 non-null    int64
dtypes: float64(1), int64(7), object(4)
memory usage: 22.3+ KB